.app-header {
    padding: .5em 1em;
    border-bottom: 1px solid $primary-dark;
    flex: 0 0 auto;
    background-color: $primary-dark;
}

.app-header-title {
    color: $primary-light;
    font-size: 1rem;
    margin: 0;
}
