.app-header {
    padding: 1em;

    .title {
        color: $black;
        font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
        font-size: 1.5rem;
    }
}
