@import './fonts';
@import './normalize';
@import './variables';

@import '../components/**/*.scss';

body {
    background: $white;
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
}
